*~
*.a
*.bundle
*.lo
*.hlo
*.Slo
*.o
*.so
*.ctfso
*.xmlh
*.swp
_book/
autom4te.cache
configure
.configure.*
config.log
config.status
docs-md/mtev_version.md
docs/mtev_version.md
.DS_Store
/Makefile
/node_modules/
src/Makefile
src/**/Makefile
src/modules/mtev_lua/
!src/modules/example/Makefile
src/dhparam*.txt
src/js/node_modules/
test/t/node_modules/
src/libmtev.xmldb
src/luamtev
src/lua/src/lua
**/*.dSYM/
src/mtev_version.h
src/man/*.8
src/man/*.h
src/Makefile.objs
src/mtev_config.h
src/mtev_config.h.in
src/scripts/mtev-config
src/libmtev-objs/
src/libmtev.so*
src/libmtev*dylib
src/libmtev_dtrace_probes.h
src/flatbuffer/*.h
test/Makefile
test/geturllz4f
test/mtevbusted-script
test/*_test
test/test_http_server
test/test_http_server.out
test/test_http_server.lock
test/test_harness
test/sort_test
test/test_detail.xml
test/lua-tests/test_detail.xml
test/*/test
