*~
*.a
*.bundle
*.lo
*.hlo
*.o
*.so
*.xmlh
*.swp
_book/
autom4te.cache
configure
.configure.*
config.log
config.status
.DS_Store
/Makefile
/node_modules/
src/Makefile
src/**/Makefile
!src/modules/example/Makefile
src/dhparam*.txt
src/js/node_modules/
test/t/node_modules/
src/luamtev
src/lua/src/lua
**/*.dSYM/
src/mtev_version.h
src/man/*.8
src/man/*.h
src/Makefile.objs
src/mtev_config.h
src/mtev_config.h.in
src/scripts/mtev-config
src/libmtev.so*
src/libmtev*dylib
src/libmtev_dtrace_probes.h
test/Makefile
test/hash_test
test/uuid_test
test/time_test
test/test_harness
test/sort_test
test/test_detail.xml
