*~
*.a
*.bundle
*.lo
*.o
*.so
*.xmlh
autom4te.cache
configure
.configure.*
config.log
config.status
.DS_Store
/Makefile
docs/out
docs/operations/probes.d.xml
src/Makefile
src/**/Makefile
!src/modules/example/Makefile
src/dhparam*.txt
src/*.dSYM
src/js/node_modules/
test/t/node_modules/
src/luamtev
src/lua/src/lua
src/modules/*.dSYM
src/mtev_version.h
src/man/*.8
src/man/*.h
src/Makefile.objs
src/mtev_config.h
src/scripts/mtev-config
src/libmtev.so*
src/libmtev*dylib
src/libmtev_dtrace_probes.h
test/Makefile
test/hash_test
