#define CONFIG_TMPL "<?xml version=\"1.0\" encoding=\"utf8\" standalone=\"yes\"?>\n" \
"<cli>\n" \
"  <eventer>\n" \
"    <config>\n" \
"      <ssl_dhparam1024_file/>\n" \
"      <ssl_dhparam2048_file/>\n" \
"    </config>\n" \
"  </eventer>\n" \
"  <modules directory=\"%s\">\n" \
"    <generic image=\"lua_mtev\" name=\"lua_general\">\n" \
"      <config>\n" \
"        <Cpreloads>LuaMtevDirect,hostcli</Cpreloads>\n" \
"        <directory>%s%s%s</directory>\n" \
"        <cpath>%s%s%s</cpath>\n" \
"        <lua_module>%s</lua_module>\n" \
"        <lua_function>%s</lua_function>\n" \
"        <tragedy_terminates>true</tragedy_terminates>\n" \
"      </config>\n" \
"    </generic>\n" \
"  </modules>\n" \
"  <logs>\n" \
"    <console_output>\n" \
"      <outlet name=\"stderr\"/>\n" \
"      <log name=\"error\"/>\n" \
"    </console_output>\n" \
"    <components>\n" \
"      <error>\n" \
"        <outlet name=\"stderr\"/>\n" \
"        <log name=\"error/cli\"/>\n" \
"        <log name=\"error/lua\"/>\n" \
"      </error>\n" \
"      <debug>\n" \
"        <outlet name=\"stderr\"/>\n" \
"        <log name=\"debug\" disabled=\"true\"/>\n" \
"        <log name=\"debug/eventer\" disabled=\"true\"/>\n" \
"        <log name=\"debug/memory\" disabled=\"true\"/>\n" \
"        <log name=\"debug/cli\" disabled=\"true\"/>\n" \
"        <log name=\"debug/lua\" disabled=\"true\"/>\n" \
"        <log name=\"notice\" disabled=\"true\"/>\n" \
"      </debug>\n" \
"    </components>\n" \
"  </logs>\n" \
"</cli>\n"
